services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: recipes
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d recipes || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: always

  api:
    build: ./api
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+psycopg2://app:app@db:5432/recipes
      API_KEY: supersecreta-UT5 
    ports:
      - "8000:8000"  
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: always

volumes:
  db_data:
